.parent-container {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-container {
    display: flex;
    flex-direction: column;
}

.container {
    margin: 10px 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
}

.inner-container {
    margin: 1em 0;
    display: flex;
    justify-content: center;
}

.line {
    border-width: 1px 0 0 0;
    border-color: #aaaaaa;
    margin: 1em 0;
}

.name {
    font-size: 2em;
    font-weight: bold;
}

.inner-name {
    font-size: 1.25em;
}

.inner-div {
    margin: 0 2em;
}

.date {
    margin-top: 1.5em;
}

.date-text {
    font-size: 1.25em;
    padding-left: 1em;
}

.out-ul {
    list-style-type: none;
    font-size: 1.5em;
}