<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/index/css/index.css">
    <title>Genshin Calender</title>
</head>
<body>

<section class="main">

    <h1>原神 - 天賦素材</h1>
    <h2>育成したいキャラクターを選択！</h2>

    <form action="/" method="post">

        <div class="container">
            {{ range $region, $character := .characters }}
            <div class="inner-container">
                <h2>{{ $region }}</h2>
                {{ range $index, $chara := $character }}
                <label class="checkbox_vert">
                    <input type="checkbox" name="selectedCharacter" value="{{ $chara.ENName }}">
                    {{ $chara.JPName }}
                </label>
                {{ end }}
            </div>
            {{ end }}
        </div>

        <input class="submit_button" type="submit" value="次へ">
    </form>

</section>

</body>
</html>