.checkbox_vert {
    display: block;
    user-select: none;
    padding: 0.25em 0 0.25em 1em;
}

.container {
    display: flex;
    justify-content: center;
}

.inner-container {
    margin: 0.5em 2em;
    display: flex;
    flex-direction: column;
}

.submit_button {
    color: #0e0e0e;
}
