.container {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container label {
    user-select: none;
    margin: 0 1em;
}

.label-vert {
    display: block;
    user-select: none;
    margin-left: 1em;
}

.number {
    color: #0e0e0e;
}

.submit_button {
    color: #0e0e0e;
}