<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="src/css/style.css">
    <link rel="stylesheet" href="src/select/css/select.css">
    <title>Genshin Calender</title>
</head>
<body>
    <section class="main">
        <h1>何レベル上げるか選択！</h1>

        <form action="/result" method="post">

            {{ range $index, $character := .characters }}
            <h2>{{ $character.JPName }}: </h2>

            <label class="label_vert">
                <input type="hidden" name="character" value="{{ $character.ENName }}">
            </label>

            <label class="label_vert">
                <input type="checkbox"  name="normalAttack" value="{{ $character.ENName }}" checked>
                通常攻撃:
                <input class="number" type="number" name="from1" value="1" min="1" max="9">
                ->
                <input class="number" type="number" name="to1" value="10" min="2" max="10">
            </label>

            <label class="label_vert">
                <input type="checkbox"  name="skillAttack" value="{{ $character.ENName }}" checked>
                元素スキル:
                <input class="number" type="number" name="from2" value="1" min="1" max="9">
                ->
                <input class="number" type="number" name="to2" value="10" min="2" max="10">
            </label>

            <label class="label_vert">
                <input type="checkbox"  name="ultAttack" value="{{ $character.ENName }}" checked>
                元素爆発:
                <input class="number" type="number" name="from3" value="1" min="1" max="9">
                ->
                <input class="number" type="number" name="to3" value="10" min="2" max="10">
            </label>
            {{ end }}

            <input class="submit_button" type="submit" value="次へ">
        </form>

    </section>
</body>
</html>